*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: auto;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;

  text-align: center;
  --main-border-radius: 5%;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  line-height: 4rem;
  font-family: cursive;
  font-weight: 900;
  font-size: 3rem;
  margin: 4rem;
}
h2 {
  text-transform: uppercase;
  line-height: 4rem;
  font-family: cursive;
  font-size: 2rem;
  padding: 10px;
}
.winner-text {
  padding: 10px;
  margin: 30px;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: gold;
  text-transform: capitalize;
  /* line-height: 70px; */
}

.cell {
  height: 8.5rem;
  width: 8.5rem;
  /* flex: 1; */
  background-color: #000;
  /* border: 1px gold solid; */
  font-family: 'Permanent Marker', cursive;
  line-height: 5rem;
  font-size: 4rem;
  color: honeydew;
  text-align: center;
}
.game-grid {
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  border-radius: var(--main-border-radius);
  background-color: gold;
  grid-gap: 1px;
  overflow: hidden;
  cursor: pointer;
  order: 3;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}
.change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  order: 2;
}
.show {
  display: none;
}
.game-sets {
  display: flex;
  flex-direction: row-reverse;
  order: 1;
}
.players {
  display: flex;
}
.players,
.btn,
.change {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: 20px;
  height: min-content;
  border-radius: var(--main-border-radius);
}
.play-turn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* default color */
  background-color: darkgray;
  margin-right: 10px;
}
.player {
  display: flex;
  padding: 10px;
  margin: 5px;
}
.underline {
  height: auto;
  width: 1px;
  background-color: gold;
}
.player-one {
  background-color: blue;
}
.player-two {
  background-color: red;
}
.start-button {
  width: 141px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 14px gold;
  transform: none;
  transition: transform 1s, color 1s;
  font-weight: 700;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}
.start-button:hover {
  transform: translateY(-8px);
  color: gold;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
  }
  .game-sets {
    flex-direction: column;
    order: 1;
  }

  .players {
    flex-direction: column;
  }
  .player {
    flex-direction: row-reverse;
  }

  .underline {
    width: 100%;
    height: 1px;
  }
  .game-grid {
    order: 2;
  }
  .change {
    order: 3;
  }
}
